<div class="contenedor-hero">
  <div class="wrap">
    <div class="box">
      <h1>Proyecto de Practica</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
        voluptatum deserunt, dolor amet perspiciatis iure possimus sequi officia
        sit corrupti aliquid esse consequatur animi, tempore quae natus eaque
        omnis excepturi!</p>
        <div class="btn-link">
      <a href="/login" class="btn-login">Login</a>
      <a href="/signup" class="btn-sign">Sign Up</a>   

        </div>
    </div>
  </div>
</div>