<nav class="nav-index-log">
  <div class="logo">
  </div>

  <div class="block-info-log">
      <ul class="nav_menu">
        <li class="nav_item">
          <i class="fa-solid fa-user"></i>
          <span class="user-id">{{user}}
          <img src="./resources/icon-arrow-down.svg" alt="">
          </span>
          <ul class="nav_inner">
            <li class="nav_drop">
            <a href="#" class="account">My account</a>
            </li>
            <li class="nav_drop">
              <form action="/login/logout" method="POST">
                <button type="submit" class="sign_out"> Sign out</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</nav>

<main class="block-contact">
  <div class="parent-contact">
    <div class="up-contact"> 
      <div class="top-contact">
        <div class="clock"></div>
        <div class="status">
          <img src="../resources/status.png" alt="">
        </div>
      </div>

      <h2 class="title-form">Hello!</h2>
      <form action="/contact" method="POST" class="block-send">
        <input type="text" class="input-text" 
        autocomplete="off" name="nameContact" required>
        <input type="text" maxlength="10" onKeypress="validNumberInput(event)" class="input-text" 
        autocomplete="off" name="phoneNumber"  required>
       <button class="send"> Enviar</button> 
      </form>
    </div>
    <div class="info-contact">
      
    </div>
  </div>
</main>
