<nav class="nav-index-log">
  <div class="logo">
    <p>HOla fdlksjafldjsaflkjsd</p>
  </div>

  <div class="block-info-log">
      <ul>
        <li>
          <i class="fa-solid fa-user"></i>
          <p class="user-id">{{user}}</p>
          <ul>
            <li>
              <form action="/login/logout" method="POST">
                <button type="submit"> Sign out</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</nav>

<main class="block-contact">
    <div class="up-contact"> 
      <form action="/contact" method="POST" class="block-send">
        <input type="text" class="input-text" name="nameContact" required>
        <input type="text" class="input-text" name="phoneNumber" required>
       <button class="send"> Enviar</button> 
      </form>
    </div>
    <div class="info-contact">
      
    </div>
</main>
