.nav-index-log{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}
.nav-index-log > *{
    padding: 0 2.5rem
}
.user-id{
    display: inline;
}
.block-info-log > ul{
    display: flex;
}
.block-info-log ul{
list-style: none;
}

.block-contact{
    display: flex;
}
.up-contact{
    width: 40vw;
    height: 30rem;
    background-color: red;
}

.info-contact{
    width: 40vw;
    height: 30rem;
    background-color: green;
    overflow-y: scroll;
}
